【1】<br />
{($a=123456)}
输出:{($a)}<br />
<br />
有时候不输出，可以在前面加个!，比如执行一些没有返回值的的函数或者方法
<br />
<br />
不输出:{(!$a)}
<br />
<br />
【2】
<br />
{(include file="a")}
<br />
以上为引用a.tpl模板，除了可以引用模板，外部文件也可以引用的
<br />
例如
<br />

<br />
{(include file="./include.php")}
<br />
<br />
<br />
【3】<br />
有时候我们需要对一个数组赋值,就和php中赋值是一样的<br />
{($m[]="你好啊")}<br />
数组输出：{($m.0)}<br />
<br />
如果不是多维数组，可以用.号简写，
$m.0等于$m[0],当然也可以用$m[0],多维数组就必须要用[]，比如$m[0][1]，不能写成$m.0.1
<br />
<br />
<br />
<br />
【4】
<br />
循环函数是我们用的最为普遍的函数之一,在数据库分页和显示方面,它起着巨大的作用
<br />
foreach循环:<br />
这个函数我们一般是用来遍历数组的
在模版中有两种使用方法<br />
<br />
例子一
<br />
{($arr=array(1,2,3,4,5))}
{(foreach $arr)}
{($key)}:{($value)}<br />
{(/foreach)}
<br />
以上只写了一个参数,foreach可以有三个参数的,这是种简单写法,在内部循环中,$key代表键值,$value代表数组的值,这是默认定义的,你可以自己定义,看例子二
<br />
<br />
例子二:<br />
{($arr=array(1,2,3,4,5))}
{(foreach $arr as $a=>$b)}
{($a)}:{($b)}<br />
{(/foreach)}
<br />
<br />

以下其他循环的使用
<br />
<br />
while循环<br />
例子:<br />
{($i=0)}
{(while $i<10)}
{($i++)}<br />
{(/while)}
<br />
<br />

for循环<br />
例子:<br />
{(for $i=0;$i<10;$i++)}
{($i)}<br />
{(/for)}<br />
<br />
【5】<br />
if判断

<br />
{($f=123)}
{(if isset($f))}
$f不为空
{(/if)}
<br />
<br />
【6】
<br />
{(if $get['a']==null)}

模板中的$get['a']就代表$GET['a'],$post就代表$POST，这些都是全局变量,
<br />
<br />
<a href="./zh.php?a=123">点击此次改变$get['a']的值为123</a>

{(elseif $get['a']==123)}

$get['a']等于123<br />
<br />
<a href="./zh.php?a=">点击此次改变$get['a']的值为空</a>

{(/if)}

<br />
<br />
<br />

【7】<br />
自定义替换<br />
[md5(12345)]<br />
利用这个来md5加密字符串<br /><br />
输出时间<br />
[time]
















